<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Icebreaker App</title>


    <!-- jquery and jquerymobile links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css"/>

</head>
<br>
<div data-role="page" id="one" align="center">
    <div data-role="header" data-position="fixed">
        <h3 align="center">Icebreaker App </h3>
    </div>
    <br>

    <img src="../Resources/logo.PNG" alt=" App logo" width="150" height="150">

    <form>
        <input type="text" id="GetVal"/>
        <input type="button" id="JoinButton" value="Join"/>

    </form>

    <h5> OR </h5>
    <a href="create_room_screen.html" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-inline">Create a room</a>

    <footer>
        <div data-role="footer" data-position="fixed">
            <h4 align="center"> Icebreaker App</h4>
        </div>
    </footer>
</div>


</div>

</body>
</html>