@import url('https://fonts.googleapis.com/css?family=Mina');

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-image: linear-gradient(to bottom right,  #00b3b3, #002e4d);
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
    background-color: #00131a91 !important;
}

.ui-header .ui-title, .ui-footer .ui-title {
    color: white;
    text-shadow: none;
    font-family: 'Mina', sans-serif;
    font-size: medium !important;
}

.ui-mobile label, div.ui-controlgroup-label{
    color: white;
    text-shadow: none;
    font-family: 'Mina', sans-serif;
}

.ui-btn, button{
    background-color: #002633 !important;
    font-family: 'Mina', sans-serif !important;
    color: white !important;
    text-shadow: none !important;
}

h5, body, textarea, .ui-select .ui-btn select, li{
    font-family: 'Mina', sans-serif !important;
    color: white;
    text-shadow: none;
}

.ui-field-contain, .ui-mobile fieldset.ui-field-contain{
    margin: 0 !important;
}